

<div class="answer">
  <h3 class="message">  " <%= @your_message %> "</h3>
  <h3> -You </h3>

 <h3 class="message"> " <%= @response %> " </h3>
  <h3>-Your coach </h3>
 </div>


<p> <%= link_to "Ask another question", ask_path %> </p>
