

<div class="answers">
  <div class="answer-card">
    <h3 class="your-message">  " <%= @your_message %> "</h3>
    <h3> -You </h3>
  </div>
  <div class="coach-answer-card">
    <h3 class="coach-answer"> " <%= @response %> " </h3>
    <h3>-Your coach </h3>
  </div>
 </div>


<p> <%= link_to "Ask another question", ask_path %> </p>
