<h1>Hello!</h1>
<h3>Welcome to the <strong>Stupid Coach</strong>!</h3>

<form action="/answer">
  <input type="text" name="question" placeholder="Write your question here">
  <input type="submit">
</form>
