
<div class="form-container">

  <h3>You can say anything you want to the coach(try to keep it PG-13! You have to respect your coach!)</h3>
  <form action="/answer" class="form">
    <input type="text" name="question" placeholder="Write your question here">
    <input type="submit" value="Ask!">
  </form>
</div>
